# Blocca l'esecuzione di script PHP in questa cartella.
# Permette l'accesso diretto ai file scaricabili.
<FilesMatch "\.(php|phtml|php[345s]|pht)$">
    Require all denied
</FilesMatch>

# Disabilita l'esecuzione PHP anche se il file viene rinominato
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
